body {

    textarea {
        font-family: sans-serif;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300vh;
    }

    .form_box {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 800px;
    }

    .form_box .title {
        padding: flex;
        font-size: 50px 50px;
        border-bottom: thin solid #d6f5ff;
    }
/*caixa de mensagem*/
    .form_box imput,
    .form_box textarea {
        width: calc(97% - 8px);
        height: 100px;
        border-radius: 2px;
        padding-left: 13px;
        margin-bottom: 16px;
        font-size: 16px;
    }

    .form_box button {
            display: block;
            border: none;
            outline: none;
            width: 180px;
            height: 48px;
            border-radius: 2px;
            background-color: #d6f5ff;
            color: rgb(11, 0, 0);
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
    }

    .form_box button:hover {
        background: #cff9ff;
    }
}